/*asterisk added widcard to override browser default setting*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /*default styling for body*/
  min-height: 100vh;
  color: gainsboro;
  /*add flexbox styling*/
  display: flex;
  flex-direction: column;
}
/*main*/
main {
  background-color: antiquewhite;
  flex: 1 0 auto;
}
/*header*/
header {
  background-color: indigo;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/*image*/
#image {
  background-color: rgb(197, 238, 197);
}
/*sizeguide*/
#sizeguide {
  background-color: springgreen;
}
/*safeuse*/
#safeuse {
  background-color: lightblue;
}
/*faq*/
#faq {
  background-color: aquamarine;
}
/*competion*/
#competition {
  background-color: lightblue;
}
/*footer*/
footer {
  background-color: forestgreen;
}
