/*header*/
.header {
  background-color: indigo;
}
/*image*/
.image {
  background-color: rgb(197, 238, 197);
}
/*sizeguide*/
.sizeguide {
  background-color: springgreen;
}
/*safeuse*/
.safeuse {
  background-color: lightblue;
}
/*faq*/
.faq {
  background-color: aquamarine;
}
/*competion*/
.competition {
  background-color: lightblue;
}
/*footer*/
.footer {
  background-color: forestgreen;
}
