/*asterisk added wildcard to override browser default setting*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /*default styling for body*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*add flexbox styling*/
  display: flex;
  flex-direction: column;
}

/*header*/
header {
  background-color: #2863a0;
  color: antiquewhite;
  padding: 10px 0;
  width: 100%;
  box-shadow: 2px 3px 3px rgb(150, 146, 146);
  flex-direction: row;
}
/*header text*/
.navbar {
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
}

/*navbarstyle*/
.title {
  font-size: 110%;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: antiquewhite;
}
.menulinks {
  display: flex;
}
/*drop down menu*/
.dropdown {
  background-color: transparent; /*check if not same as bground*/
  color: antiquewhite; /*check blends not in background?*/
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding-right: 30%;
}
/*links in dropdown*/
.dropdown-links {
  position: absolute; /* check maybe relative*/
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 2px 3px 3px rgb(0, 0, 0, 0.26); /* check grey transparent ?*/
  z-index: 1;
}
/*dropdown wording*/
.dropdown-links a {
  color: navy;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/*dropdown hover---erase if fail and change cursor to pointer*/
.dropdown:hover .dropdown-links {
  display: block;
}

/*Main----Main----Main----*/
/*image*/
#image {
  width: 60%;
  border-radius: 8px;
  justify-content: left;
  height: 15rem;
  overflow: hidden;
  padding-left: 5%;
}
#image-container {
  height: 200px;
  width: 100%;
  overflow: hidden;
}
/*Table------Table*/
#sizeguide {
  text-indent: 5%;
}
table {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  border: 2px double navy;
}
tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
th {
  font-weight: bold;
  text-align: center;
}
tr,
td {
  text-align: left;
}
th,
td {
  border: 1px solid Navy;
  padding: 6px;
}
/*sizeguide*/
#sizeguide {
  background-color: gainsboro;
}
/*safety*/
.safety-headline {
  font-weight: bold;
}
#safe-section {
  margin-top: 10px;
  text-indent: 5%;
}
#safety {
  background-color: #c0f0c0;
}
/*faq*/
#faq {
  background-color: gainsboro;
}
.faq-section {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}
.faq-question {
  font-weight: bold;
}
.faq-answer {
  margin-left: 10px;
}
/*competion section*/
#competion {
  background-color: white;
}
/*footer*/
footer {
  background-color: #2863a0; /*check same as header*/
  color: antiquewhite;
  padding: 20px 0; /*check re social botton sizes*/
}
/*footer socials styling*/
.footer-socials {
  text-align: center;
}
.socials-icons {
  margin-top: 10px;
}
.icon {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  cursor: pointer;
}
/*media queries(source love running)*/
@media screen and (min-width: 768px) {
  #navbar {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }
  #links {
    display: flex;
  }
  #links > li {
    padding-left: 3rem;
  }
  #title {
    font-size: 200%;
    line-height: 75px;
    margin: 0 0.5rem;
  }
}
